*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://i.pinimg.com/originals/2e/72/c9/2e72c928d6517c0591f59af35291260c.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#logito{
position: relative;
top: 25px; left: 5px;
}

.container{
    background-color: transparent;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(255, 255, 255, .5);
    margin: 200px auto; padding: 10px 20px 10px 20px;
    width: 60%; max-width: 500px;
    min-width: 350px;
    height: 550px;
}
#cambio{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 80px;
}
#cambio > button{
    width: 100px;
    font-size: 20px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #ffffff;
}


#cambio button::before{
    content:'';
    position: absolute;
    bottom: 480px;
    border-radius: 10px;
    width: 80px; height: 2px;
    background-color: rgb(5, 213, 255);
    transform-origin: right;
    transform: scale(0);
    transition: transform .5s;
}
#cambio button:hover::before{
    transform: scale(1);
    transform-origin: left;
}
#formulario, #formulario2{
    margin:auto;
    width: 90%;
   transition: initial;
}
#formulario > label, #formulario2 > label{
    padding-left: 11px;
    color: rgba(232, 229, 229, 0.781);
    font-size: 12px;
}

#username, #password, #email{
    outline: none;
    width: 95%;
    padding:7px 0 7px 10px;
    margin: 5px 0 20px 0;
    border-radius: 15px;
    border:none;
    background: rgba(232, 229, 229, 0.212);
    color: #ffffff;
}
#check{
    display: flex;
    align-items: center;
    width: 90%;
    padding-left: 20px;
}
#check > label{
    color: #ffffff;
    padding: 10px;
}

#final{
    margin: auto;
    text-align: center;
    width: 90%;
}

#final :first-child{
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 166, 224);
    box-shadow: 0 0 10px rgba(0, 164, 224, 0.50);;
    color: #ffffff;
    width: 100%;
    padding: 7px 0 7px 0;
    cursor: pointer;
    margin: 12px 0 130px 0;
}
#final :last-child{
    font-size: 12px;
    text-decoration: none;
    color: #5dcaf297;
}
#final a::after{
    content: '';
    position: absolute;
    bottom: 12%; 
    display: flex;
    left: 12.5%;
    width: 75%; height: 1px;
    background-color: #5dcaf297;
}

/*CSS CAMBIO DE FORMULARIO*/

#formulario2 {
    display: none;
}


